name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ opened ]
  workflow_dispatch:

env:
  GO_VERSION: 1.25.4

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: golangci/golangci-lint-action@v9

  build:
    needs: [ lint ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - run: CGO_ENABLED=0 GOOS=linux go build -o inzibat .

  test:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - run: go test -coverprofile=coverage.out -covermode=atomic ./...

      - uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: coverage.out

  coverage:
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: code-coverage

      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  security-analysis:
    needs: [ coverage ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: securego/gosec@master
        with:
          args: ./...
